header{
	background:url("img/bgheader.jpg") ;
	height: 659px;
	background-repeat: no-repeat;
	background-size: cover;
}
ul{
	width: 100%;
    height: 40px;
    display: block;
}
ul li{
	display: block;
	float: left;

}
li a {
	color: white;
	font-size: 14px;
	padding: 8px;
	display: block;
	border-top: 5px solid transparent;
}

.activo,li a:hover{
	font-weight: bold;
	border-top: 5px solid #54d154;
	color: white;
}
.buscador{
	background: rgba(217,216,216,0.85);
	border: none;
	border-radius: 15px;
	height: 27px;
	padding: 7px 14px;
	font-size: 16px;
	color: #111111;


}


/*.boton{
	display: inline-block;
	text-align:left;
	float: left;
	margin-right: 26px;
}
.boton a{
	padding: 10px 0;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #fff;
}

/*.boton a:hover{
	background: #535353;
	color: #f9f9cc;
	transform: scale(1.1);*/

}