body{
	font-family: 'Montserrat', sans-serif;
}
header{
	background:url("img/bgheader.jpg") ;
	height: 659px;
	background-repeat: no-repeat;
	background-size: cover;
}
ul{
	width: 100%;
    height: 40px;
    display: block;
}
ul li{
	display: block;
	float: left;

}
.fa-home:before{
	content: "\f015"
}
li a {
	color: white;
	font-size: 14px;
	padding: 8px 6px;
	display: block;
	border-top: 5px solid transparent;
}

.activo,li a:hover{
	font-weight: bold;
	border-top: 5px solid #54d154;
	color: white;
}
.buscador{
	background: rgba(217,216,216,0.85);
	border: none;
	border-radius: 15px;
	height: 27px;
	padding: 7px 14px;
	font-size: 16px;
	color: #111111;
	width: 100%;
    margin-top: 5px;

}


#center-header{
	height: 560px;

}

#centradito{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#centradito h1{
	color:#fff;
	font-weight: bold;
	font-size: 55px;
}
#centradito a{
	background:#54d154;
	color:#fff;
	text-align: center;
	display: block;
	width: 205px;
	height: 49px;
	border-radius: 30px;
	padding: 6px 0;
	font-weight: normal;
	font-size: 21px;
	transition: 0.5s ease all;

}
#centradito a:hover {
	text-decoration: none;
	background: #f34d04;
	transform: scale(1.05);
}
.boton1 , .botonsec3{
	background: rgba(217,216,216,0.85);
	border: none;
	border-radius: 15px;
	height: 26px;
	padding: 7px 14px;
	font-size: 16px;
	color: #111111;
	width: 121px;
    margin-top: 5px;
}

.seccion2{
	background: #fff;
	height: 578px;
}
.formaDeParrafo1{
	text-align: center;
	font-size: ;/*tamaño del texto*/
	padding-top: 43px;
	color: #939292;
}
.formaDeParrafo2{
	text-align: center;
	font-size: 16px;/*tamaño del texto*/
	color: #cfcccc;
}
hr{
	background:#828181;
	height: 2px;
	width: 43px;
}
.texto1{
	color: #828181;
	text-align: center;
	font-size: 24px;
	margin-top: 17px;
	font-weight: bold;
	letter-spacing: 2px;
}

.recuadro{
	background:#e1f3e1;
	height: 142px;
	width: 142px;
	border-radius: 20px;
}

.texto2{
	font-size: 15px;
	text-align: center;
	color: #828181;
	width: 268px;
	padding-top: 23px;
	
}
.boton{
	background: #54d154;
	color: white;
	text-align: center;
	width:120px ;
	height:30px ;
	padding: 3px 0px;
	border-radius: 20px;

}
.imagen2{
	color: #54d154;
	
	/*height: 36px;
	width: 136px;*/
	margin-top: 36px;
	margin-left: 28px;
	
}
.margen1{
	padding: 16px;
}
.medida{
	width: 278px;
	margin-top: 25px;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.seccion3{
	background: #54d154;
	height: 750px;
}

.texto3{
	color: #207b20;
}
.texto4{
	background: #207b20;
}

.botton1{
	border-radius: 20px;
	width: 277px;
	background: white;		
}

.botton1 li a{
	color: #2b9b2b;
	margin-right: 20px;
}

.botonA a{
	color: #fff!important;
	background: #2b9b2b;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.botonB a{
	border-right: 1px solid #2b9b2b;
	color: #207b20;
}
.estiloFoto1{
	height: 452px;


}
.estiloA{
	padding: 15px;
}
.estiloB{
	padding: 1px;
}

.boton .botonsec3{
	background: #2b9b2b;
	width: 190px;
	height: 40px;
	border-radius: 40px;
	color: white;
}
.seccion2 .seccion4{
	height: 365px;
}
.formaDeParrafo3{
	color: #444444;
	font-size: 15px;
	padding: 70px;
}

.alturaLetter{
    height: 285px;
    color: #575757!important;
}
.altura_botton{
    height: 105px;
    background: #e0dfdf;
}

.seccion5{
	height: 500px;
	background: #f2f1f1;
}

.testimonials{
	color: #8f8f8f;
	text-align: center;

}