body{
	font-family: 'Montserrat', sans-serif;
}
header{
	background:url("img/bgheader.jpeg") ;
	height: 659px;
	background-repeat: no-repeat;
	background-size: cover;
}
ul{
	width: 100%;
    height: 40px;
    display: block;
}
ul li{
	display: block;
	float: left;
}
.fa-home:before{
	content: "\f015"
}
li a {
	color: white;
	font-size: 14px;
	display: block;
	border-top: 5px solid transparent;
}
.mas{
	padding: 5px 5px;	
	display: block;
}

.activo,li a:hover{
	font-weight: bold;
	border-top: 5px solid #54d154;
	color: white;
}
.buscador{
	background: rgba(217,216,216,0.05);
	font-size: 16px;
	color: #262626;
	padding: 5px 5px;
	border-radius: 20px;
	border-style: none;
    height: 27px;
    width: 160px;
}
.centerlupa{
	padding-top: 5px;
	color: c;
}
.buscadorx{
	display: flex;
	flex-direction: row;
	padding: 5px 5px;
	background: rgba(217,216,216,0.85);
	color: #262626;
	border-radius: 20px;
	border-style: none;
	width: 195px;
}
.buscador2{
	background: rgba(217,216,216,0.60);
	border: none;
	height: 32px;
	font-size: 13px;
	color: #6a6a6a;
	width: 100%;
    margin-top: 2px;
}

.buscador3{
	background: rgba(217,216,216,0.60);
	border: none;
	height: 130px;
	font-size: 13px;
	color: #6a6a6a;
	width: 100%;
    margin-top: 2px;
    text-align: left-top;
}


#center-header{
	height: 560px;
}

#centradito{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#centradito h1{
	color:#fff;
	font-weight: bold;
	font-size: 55px;
}
#centradito a{
	background:#54d154;
	color:#fff;
	text-align: center;
	display: block;
	width: 205px;
	height: 49px;
	border-radius: 30px;
	padding: 6px 0;
	font-weight: normal;
	font-size: 21px;
	transition: 0.5s ease all;
}
#centradito a:hover {
	text-decoration: none;
	background: #f34d04;
	transform: scale(1.05);
}
.boton1 , .botonsec3{
	background: rgba(217,216,216,0.85);
	border: none;
	border-radius: 15px;
	height: 31px;
	padding: 7px 14px;
	font-size: 16px;
	color: #111111;
	width: 143px;
    margin-top: 5px;
}

.seccion2{
	background: #fff;
	height: 578px;
}
.formaDeParrafo1{
	text-align: center;
	font-size: ;/*tamaño del texto*/
	padding-top: 43px;
	color: #939292;
}
.formaDeParrafo2{
	text-align: center;
	font-size: 16px;/*tamaño del texto*/
	color: #cfcccc;
}
hr{
	background:#828181;
	height: 2px;
	width: 43px;
}
.texto1{
	color: #828181;
	text-align: center;
	font-size: 24px;
	margin-top: 17px;
	font-weight: bold;
	letter-spacing: 2px;
}

.recuadro{
	background:#e1f3e1;
	height: 142px;
	width: 142px;
	border-radius: 20px;
}

.texto2{
	font-size: 15px;
	text-align: center;
	color: #828181;
	width: 268px;
	padding-top: 23px;	
}
.boton{
	background: #54d154;
	color: white;
	text-align: center;
	width:120px ;
	height:30px ;
	padding: 3px 0px;
	border-radius: 20px;
}

.imagencenter{
	width: 870px;
	height: 177px;
}

.botonsecc8{
	background: #2b9b2b;
	color: white;
	text-align: center;
	width:100%!important;
	height:32px ;
	padding-top: 3px;
}

.imagen2{
	color: #54d154;
	margin-top: 36px;
	margin-left: 28px;	
}
.margen1{
	padding: 16px;
	padding-top: 36px;
}
.margen1x{
	padding-left: 10px;
}
.medida{
	width: 278px;
	margin-top: 25px;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textslider{
	color: #444444;
}
.seccion3{
	background: #54d154;
	height: 750px;
}

.texto3{
	color: #207b20;
}
.texto4{
	background: #207b20;
}
.botton1{
	border-radius: 20px;
	width: 277px;
	background: white;	
	border-top:1px solid #2b9b2b ;	
}
.botton1 li a{
	color: #2b9b2b;
	margin-right: 13px;
	height: 40px;
}

.botonA a{
	color: #fff!important;
	background: #2b9b2b;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}
.botonB a{
	border-right: 1px solid #2b9b2b;
	color: #207b20;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 5px;
}

.botonC a{
	padding-top: 5px;
}
.estiloFoto1{
	height: 452px;
}
.estiloA{
	padding: 15px;
}

.estiloD{
	width: 980px;
}

.estiloB{
	display: flex;
	align-items: center;	
}
.boton .botonsec3{
	background: #2b9b2b;
	width: 179px;
	height: 35px;
	border-radius: 40px;
	color: white;
}
.seccion2 .seccion4{
	height: 365px;
}
.formaDeParrafo3{
	color: #444444;
	font-size: 15px;
	padding: 70px;
}

.alturaLetter{
    height: 285px;
    color: #575757!important;
}
.altura_botton{
    height: 105px;
    background: #e0dfdf;
}

.seccion5{
	height: 500px;
	background: #f2f1f1;
}

.testimonials{
	color: #8f8f8f;
	text-align: center;
	padding: 50px;
}
.botonsec3, .botonsec5{
	background: #dddcdc;
	border-radius: 40px;
	color: #aca5a5;
	height: 41px;
	width: 186px;
	margin-top: 80px;
	text-align: center;
}

.seccion6{
	height: 487px;
	background: #54d154;
}
.vl {   
    border-left: 5px ;
    background: #207b20;
    height: 78px;
    width: 2px;
}

.persona{
	display: block;
    margin: auto;
}

.autor_testimonial{
	display: flex;
	align-items: center;
}

.derecho_autor h3{
	color: #444;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	margin-bottom: 5px;
}
.derecho_autor h4{
	color: #ccc;
	font-size: 16px;
	font-weight: 400;
}


.slick-prev:before,.slick-next:before{
	color: #444;
}
.textpersona{
	color: white;
	text-align: center;
}

.botonsec6{
	background: #c5e9c5;
	border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 30px;
    width: 77px;
    padding-bottom: 6px;
    margin-left: 26px;
}
.botonsec6a{
	background: #c5e9c5;
	border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 30px;
    width: 77px;
}

.fondoicono{
    display: flex;
    align-items: center;
    padding-right: 3px;
}
.fondo1{
	font-size: 19px;
	color: #e9508b;
}

.fondo2{
	background: #0061ff;
	border-radius: 12px;
	padding: 4px 4px;
	font-size: 12px;
	color: white;
}
.fondo2a{
	background: #0061ff;
	border-radius: 12px;
	padding: 4px 7px;
	font-size: 12px;
	color: white;
}
.fondo3{
	background: #00aced;
	border-radius: 12px;
	padding: 4px 4px;
	font-size: 13px;
	color: white;
}
.seccion7{	
	height: 91px;
	background: #3eba3e;
}

.seccion8{
	height: 439px;
	background: #333333;
}
.seccion9{
	height: 150px;
	background:#222222 ;
}

.container-fluid{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left:0px;
	padding-right:0px;
}

.textofinal{
	color: white;
	font-size: 12px;
}

.personabloque2{
	padding-left: 40px;
	padding-right: 40px;
}
.personabloque1{
	padding-left: 74px;
	padding-right: 25px;
	text-align: center;
}
.textsecc8{
	font-size:13px;
	color:#aeaeae ;
	padding-top: 25px;
	text-align: center;
}

.textsecc888{
	font-size:12px;
	color:#bdbdbd ;
	text-align: center;
}

.textsecc82{
	font-size:13px;
	color:#a6a6a6 ;
	text-align: center;
}
.textsecc83a{
	width: 84px;
	background: #54d154;
	font-size:13px;
	color:white ;	
	border-radius: 5px;	
	font-weight: 400;
	text-align: center;
}

.textsecc83b{
	background: #ffba00;
	width: 74px;
	font-size:13px;
	color:white ;
	text-align: center;	
	border-radius: 5px;	
}

.textsecc83c{
	background: #089dea;
	width: 105px;
	font-size:13px;
	color:white ;
	text-align: center;	
	border-radius: 5px;	
}

.textsecc83d{
	background: #ffba00;
	width: 75px;
	font-size:13px;
	color:white ;
	text-align: center;	
	border-radius: 5px;	
}

.contenedorsecc8{
	width:290px ;
	height:56px ;
	margin-top: 8px;
}
.derecho_autor1 .derecho_autor{
	font-size: 12px;
}

.lineasecc8{
	background: #dddddd;
	width: 30px;
	height: 3px;
}
.formaDesec9{
	text-align: center;
	font-size:15px;/*tamaño del texto*/
	color: #1a1a1a;
	padding-top: 10px;
}

.textosec9{
	color:#1a1a1a ;
}
.textosec9l{
	background: #1a1a1a ;
}

.estiloZ{
	padding-left: 50px;
	padding-right: 50px;
	height: 60px;
}

.estiloZz{
	padding-left: 28px;
	padding-right: 50px;
	height: 60px;
	width: 80px;
}

.estiloZx{
	padding-left: 90px;
	padding-right: 90px;
	width: 60px;
	height: 60px;
}
.seccion10{
	height: 40px ;
	background:#111111;
}
.textofinal{
	font-size:15px;
	color: white;
	text-align: center;
	padding-top: 12px;
}